{% extends 'portfolio/base.html' %}
{% load static %}

{% block title %}Ethan Kremer - Home{% endblock title %}
{% block description %}Ethan Kremer's Description{% endblock description %}

{% block header %}
    <link rel="stylesheet" href="{% static 'portfolio/css/main.css' %}">
    {% include 'portfolio/components/main_header.html' %}
{% endblock header %}

{% block body %}
<section id="portfolio-header">
    Ethan Kremer's Portfolio
</section>
{% endblock body %}

{% block footer %}
    {% include 'portfolio/components/main_footer.html' %}
{% endblock footer %}