<footer id="footer" class="footer">
    <div class="footer-wrapper">
        <div class="footer-inner">

            <div class="footer-inner-tagline">
                Feel free to connect let's chat about design, product, mentorship, community, or just anything 😎
            </div>

            <div class="footer-inner-ctas">
                <div class="footer-cta">
                    <h1>LinkedIn</h1>
                    <span>{% include 'portfolio/svg/arrow.svg' %}</span>
                </div>
                <div class="footer-cta">
                    <h1>Github</h1>
                    <span>{% include 'portfolio/svg/arrow.svg' %}</span>
                </div>
                <div class="footer-cta">
                    <h1>Instagram</h1>
                    <span>{% include 'portfolio/svg/arrow.svg' %}</span>
                </div>
                <div class="footer-cta">
                    <h1>Codepen</h1>
                    <span>{% include 'portfolio/svg/arrow.svg' %}</span>
                </div>
            </div>
            
        </div>
    </div>
</footer>