{% extends 'portfolio/base.html' %}
{% load static %}

{% block title %}Ethan Kremer - Home{% endblock title %}
{% block description %}Ethan Kremer's Description{% endblock description %}

{% block header %}
    <link rel="stylesheet" href="{% static 'portfolio/css/main.css' %}">
    {% include 'portfolio/components/main_header.html' %}
{% endblock header %}

{% block body %}
    <div class="coming-soon-message">
        <h1>Complete Portfolio Page <br><i>Coming Soon...</i></h1>
    </div>

    <div class="projects">
        {% for project in projects %}
            {% include 'portfolio/pages/home/project.html' with project=project %}
        {% endfor %}
    </div>
    
    {% endblock body %}

{% block footer %}
    {% include 'portfolio/components/main_footer.html' %}
{% endblock footer %}