{% extends 'portfolio/base.html' %}
{% load static %}

{% block title %}Ethan Kremer - Home{% endblock title %}
{% block description %}Ethan Kremer's Description{% endblock description %}

{% block header %}
    <link rel="stylesheet" href="{% static 'portfolio/css/main.css' %}">
    {% include 'portfolio/components/main_header.html' %}
{% endblock header %}

{% block body %}
<div class="content">
    <div class="first-page-header-wrapper">
        <h1 class="first-page-header">Hello! My name is Ethan Kremer.</h1>
    </div>
    {% include 'portfolio/pages/home/squareteroids_button.html' %}

</div>
{% endblock body %}

{% block footer %}
    {% include 'portfolio/components/main_footer.html' %}
{% endblock footer %}