.footer {
  height: 700px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  background-color: black;
  overflow: hidden;
  width: 100vw;
}

.footer-wrapper {
  display: grid;
  align-content: center;
  justify-content: center;
}

.footer-inner {
  padding: 2rem;
  overflow: hidden;
  width: calc(100% - 4rem);
  max-width: 940px;
  margin-top: 50px;
}
.footer-inner-tagline {
  font-size: 3rem;
  margin-bottom: 4rem;
}
.footer-inner-ctas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.footer-cta {
  width: 300px;
  border: solid white 2px;
  padding: 20px 30px;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  border-color: var(--hover);
  transition: 0.25s;
}
.footer-cta h1 {
  font-size: 2rem;
}
.footer-cta span {
  font-size: 3rem;
  text-align: right;
}
.footer-cta span svg {
  width: 3rem;
}
.footer-cta:hover, .footer-cta:focus {
  box-shadow: inset 364px 0 0 0 var(--hover);
}
.footer-cta:nth-child(1) {
  --color: #8fc866;
  --hover: #3ea861;
}
.footer-cta:nth-child(2) {
  --color: #6694c8;
  --hover: #3e6ca8;
}
.footer-cta:nth-child(3) {
  --color: #c86666;
  --hover: #a83e3e;
}
.footer-cta:nth-child(4) {
  --color: #bec866;
  --hover: #a8a63e;
}

header {
  color: black;
  height: 91px;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.header-wrapper {
  position: absolute;
  top: 0;
  width: 100vw;
  border-bottom: 1px solid #dfdfdf;
}

.header-inner {
  display: grid;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.header-inner-left, .header-inner-right {
  width: calc(100% - 20px);
}
.header-inner h1 {
  margin: 0;
  font-size: 1em;
}
.header-inner-left h1 {
  text-align: left;
}
.header-inner-right h1 {
  text-align: right;
}

.page-title-full-name {
  color: #929292;
  font-weight: 600;
}

.contact-cta {
  font-weight: 700;
}

@media screen and (max-width: 991px) {
  body {
    font-size: 14px;
    padding-bottom: 900px !important;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4rem;
  }
  p {
    font-size: 1.125rem;
  }
  .coming-soon-message {
    height: 60vh !important;
  }
  .coming-soon-message h1 {
    font-size: 3rem !important;
  }
  .footer-inner-tagline {
    font-size: 2rem;
  }
  .footer-inner-ctas {
    grid-template-columns: 1fr;
  }
  .footer-inner .footer-cta {
    width: unset;
    padding: 4px 20px;
  }
  .footer-inner .footer-cta h1 {
    font-size: 1.5rem;
  }
  footer {
    height: 900px !important;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.2em;
  }
  h3 {
    font-size: 1.6rem;
    font-weight: 500;
  }
  p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 479px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 1.8rem;
    line-height: 1.2;
    letter-spacing: 0rem;
  }
  h3 {
    font-size: 1.25rem;
    line-height: 1.5;
  }
}
.coming-soon-message {
  height: 600px;
  display: grid;
  align-content: space-around;
  justify-content: center;
  text-align: center;
}
.coming-soon-message h1 {
  margin-top: 0px;
  margin-bottom: 0rem;
  font-size: 4.875rem;
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: -0.1rem;
}
.coming-soon-message h1 i {
  color: #929292;
}
.coming-soon-message a {
  text-decoration: none;
  font-size: 3rem;
  background: black;
  color: white;
  border: solid black 2px;
  padding: 6px;
  border-radius: 12px;
}

.project-block-head {
  width: 300px;
  height: 300px;
  position: relative;
}
.project-block-head img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.project-block-head h2 {
  position: absolute;
  left: 18px;
  bottom: 8px;
  color: white;
  font-size: 2.5rem;
}

.project-block-info {
  width: 276px;
  padding: 12px;
}

.projects {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-items: center;
  margin-bottom: 100px;
}

@media screen and (max-width: 900px) {
  .projects {
    grid-template-columns: 1fr;
  }
}
* {
  margin: 0;
}

body {
  padding-top: 91px;
  padding-bottom: 700px;
  background-color: #f3f3f1;
  font-family: Jmnow, sans-serif;
  color: #110f11;
  font-size: 18px;
  line-height: 1.5;
  height: fit-content;
  position: relative;
  width: 100vw;
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
  max-width: 100%;
}

p, h1, h2, h3 {
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
