$footerHeight: 700px;
$headerHeight: 91px;

//todo use these to set media queries
// also fit header/footer/body content to this width

$contentWidthDesktop: 1100px;

$contentWidthLargeMobile: 980px;
$contentWidthMediumMobile: 750px;
$contentWidthSmallMobile: 450px;