@forward 'footer';
@forward 'header';
@forward 'mobile';
@forward '../pages/home';


@use '../utilities/utilities';

* {
    margin: 0;
}

body {
    padding-top: utilities.$headerHeight;
    padding-bottom: utilities.$footerHeight;
    background-color: utilities.$off-white;
    font-family: Jmnow, sans-serif;
    color: utilities.$black;
    font-size: 18px;
    line-height: 1.5;
    height: fit-content;
    position: relative;
    width: 100vw;
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
    max-width: 100%;
}

p, h1, h2, h3 {
    margin: 0;
}

.content, .content-wrapper {
    margin: 0;
    padding: 0;
}

.content-wrapper {
    display: grid;
    width: 100vw;
    justify-content: center;
}

.content {
    width: min(100%, utilities.$contentWidthDesktop);
    max-width: utilities.$contentWidthDesktop;
}