@use '../utilities/utilities';

.footer {
    height: utilities.$footerHeight;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: black;
    overflow: hidden;
    width: 100vw;
}

.footer-wrapper {
    display: grid;
    justify-items: center;
}

.footer-inner {
    padding: 2rem;
    overflow: hidden;
    width: calc(100% - 4rem);
    max-width: min(100%, utilities.$contentWidthDesktop);
    margin-top: 50px;

    &-tagline {
        font-size: 3rem;
        margin-bottom: 4rem;
    }
    &-ctas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        justify-items: center;
    }
}


.footer-cta {
    width: calc(100% - 40px);
    border: solid white 2px;
    padding: 20px 30px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    position: relative;
    grid-template-columns: 1fr 1fr;


    & h1 {
        font-size: 2rem;
    }

    & span {
        font-size: 3rem;
        text-align: right;

        & svg {
            width: 3rem;
            padding-top: 10px;
        }
    }

    border-color: var(--hover);

    &:nth-child(1) {
        --color: #8fc866;
        --hover: #3ea861;
    }
    &:nth-child(2) {
        --color: #6694c8;
        --hover: #3e6ca8;
    }
    &:nth-child(3) {
        --color: #c86666;
        --hover: #a83e3e;
    }
    &:nth-child(4) {
        --color: #bec866;
        --hover: #a8a63e;
    }
}