@use '../utilities/utilities';

.footer {
    height: utilities.$footerHeight;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: black;
    overflow: hidden;
    width: 100vw;
}

.footer-wrapper {
    display: grid;
    align-content: center;
    justify-content: center;
}

.footer-inner {
    padding: 2rem;
    overflow: hidden;
    width: calc(100% - 4rem);
    max-width: 940px;
    margin-top: 50px;

    &-tagline {
        font-size: 3rem;
        margin-bottom: 4rem;
    }
    &-ctas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        justify-items: center;
    }
}


.footer-cta {
    width: calc(100% - 40px);
    border: solid white 2px;
    padding: 20px 30px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    position: relative;
    grid-template-columns: 1fr 1fr;


    & h1 {
        font-size: 2rem;
    }

    & span {
        font-size: 3rem;
        text-align: right;

        & svg {
            width: 3rem;
        }
    }

    // &:after {
    //     position: absolute;
    //     content: "";
    //     width: 0;
    //     height: 100%;
    //     top: 0;
    //     right: 0;
    //     z-index: -1;
    //     background-color: utilities.$dark-blue;
    //     border-radius: 5px;
    //     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    //     7px 7px 20px 0px rgba(0,0,0,.1),
    //     4px 4px 5px 0px rgba(0,0,0,.1);
    //     transition: all 0.3s ease;
    // }

    // &:active {
    //     top: 2px;
    // }

    // &:hover {
    //     color: #fff;

    //     &:after {
    //         left: 0;
    //         width: 100%;
    //     }
    // }


    border-color: var(--hover);
    // transition: 0.25s;

    &:nth-child(1) {
        --color: #8fc866;
        --hover: #3ea861;
    }
    &:nth-child(2) {
        --color: #6694c8;
        --hover: #3e6ca8;
    }
    &:nth-child(3) {
        --color: #c86666;
        --hover: #a83e3e;
    }
    &:nth-child(4) {
        --color: #bec866;
        --hover: #a8a63e;
    }
}