@use '../utilities/utilities';

header {
    color: black;
    height: utilities.$headerHeight;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    justify-items: center;
    border-bottom: 1px solid #dfdfdf;
}

.header-wrapper {
    width: min(100%, utilities.$contentWidthDesktop);
}

.header-inner {
    display: grid;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2rem;
    padding-bottom: 2rem;

    max-width: utilities.$contentWidthDesktop;

    &-left, &-right {
        width: calc(100% - 20px);
    }

    & h1 {
        margin: 0;
        font-size: 1em;        
    }

    &-left h1 {
        text-align: left;
    }
    &-right h1 {
        text-align: right;
    }
}

.page-title-full-name {
    color: #929292;
    font-weight: 600;
}

.contact-cta {
 font-weight: 700;   
}
